In [2]:
import os
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from time import sleep
from datetime import datetime
import argparse
import csv
from selenium.webdriver.common.keys import Keys

In [27]:
def get_historic_cotization(url, start, end, t):
    var1 = start
    var2 = end
    topic = t
    #start Webdriver using Chrome driver
    driver = webdriver.Chrome(r"C:\Users\Sierra\Downloads\chromedriver_win32\chromedriver.exe")
    driver.get(url)
    WebDriverWait(driver, 8)
    
    #Find calender date picker using css selector
    dates = driver.find_element_by_css_selector('#flatDatePickerCanvasHol > div:nth-child(2)')
    dates.click()

    # dynamically generate displayed variables/testing
    _vars = driver.find_element_by_id('curr_table').find_elements_by_tag_name('th')
    variables = [var.text.lower() for var in _vars]
    print(variables)

    #inputing dates into fields
    startDate = driver.find_element_by_id('startDate')
    startDate.clear()
    startDate.send_keys(var1)
    
    endDate = driver.find_element_by_id('endDate')
    endDate.clear()
    endDate.send_keys(var2)
    
    #Apply changes by finding tag and class name
    apply_changes = driver.find_element_by_class_name('ui-datepicker-buttonpane').find_element_by_tag_name('a')
    apply_changes.click()
    
    #Sort date by fing css selector
    date = driver.find_element_by_css_selector('#curr_table > thead > tr > th.first.left.noWrap.pointer > span')
    date.click()

    #Use bs4 to scrape html page
    soup = BeautifulSoup(driver.page_source, "lxml")
    table = soup.find(class_='genTbl closedTbl historicalTbl')
    
    #find all rows & col in order to extrat information
    rows = table.find_all('td')
    counter=0
    
    #Open csv to write information using dictionary
    d = {'Date':'','Price':'','Open':'','High':'','Low':'', 'Vol':'', 'Change':''}
    f = csv.writer(open("%s\\%s-%s-%s.csv" % (os.getcwd(), var1.replace('/','.'), var2.replace('/','.'), topic), 'w', newline=''))
    f.writerow(['Date','Price','Open', 'High', 'Low', 'Vol.', 'Change %'])
    
    #Write rows to csv file accordingly
    for tag in rows:
        tag_string = str(tag.string)
        if counter == 0:
            d['Date'] = tag_string
            counter = counter+1
            continue
        elif counter == 1:
            d['Price'] = tag_string
            counter = counter+1
            continue
        elif counter == 2:
            d['Open'] = tag_string
            counter = counter+1
            continue
        elif counter == 3:
            d['High'] = tag_string
            counter = counter+1
            continue
        elif counter == 4:
            d['Low'] = tag_string
            counter = counter+1
            continue
        elif counter == 5:
            d['Vol'] = tag_string
            counter = counter+1
            continue
        elif counter == 6:
            d['Change'] = tag_string
            counter = counter+1
            continue
        else:
            counter=1
            f.writerow([d['Date'], d['Price'], d['Open'], d['High'], d['Low'], d['Vol'], d['Change']])
            d['Date'] = tag_string

In [36]:
get_historic_cotization(
    'https://www.investing.com/commodities/crude-oil-historical-data',
    '01/01/2015', 
    '07/01/2015',
    'Oil1')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [38]:
get_historic_cotization(
    'https://www.investing.com/commodities/crude-oil-historical-data',
    '07/01/2015', 
    '01/01/2016',
    'Oil2')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [40]:
get_historic_cotization(
    'https://www.investing.com/commodities/crude-oil-historical-data',
    '01/01/2016', 
    '07/01/2016',
    'Oil3')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [41]:
get_historic_cotization(
    'https://www.investing.com/commodities/crude-oil-historical-data',
    '07/01/2016', 
    '01/01/2017',
    'Oil4')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [43]:
get_historic_cotization(
    'https://www.investing.com/commodities/crude-oil-historical-data',
    '01/01/2017', 
    '04/02/2017',
    'Oil5')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [44]:
get_historic_cotization(
    'https://www.investing.com/indices/us-spx-500-futures-historical-data',
    '01/01/2015', 
    '07/01/2015',
    'SP1')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [45]:
get_historic_cotization(
    'https://www.investing.com/indices/us-spx-500-futures-historical-data',
    '07/01/2015', 
    '01/01/2016',
    'SP2')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [46]:
get_historic_cotization(
    'https://www.investing.com/indices/us-spx-500-futures-historical-data',
    '01/01/2016', 
    '07/01/2016',
    'SP3')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [47]:
get_historic_cotization(
    'https://www.investing.com/indices/us-spx-500-futures-historical-data',
    '07/01/2016', 
    '01/01/2017',
    'SP4')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [49]:
get_historic_cotization(
    'https://www.investing.com/indices/us-spx-500-futures-historical-data',
    '01/01/2017', 
    '04/02/2017',
    'SP5')

['date', 'price', 'open', 'high', 'low', 'vol.', 'change %']

In [35]:
df = pd.read_csv('01.01.2015-07.01.2015-SP500.csv')

             Date     Price      Open      High       Low     Vol. Change %
0    Jan 01, 2015  2,058.95  2,051.65  2,059.15  2,051.65        -    0.31%
1    Jan 02, 2015  2,046.25  2,055.00  2,067.25  2,038.75    1.36M   -0.62%
2    Jan 05, 2015  2,016.00  2,045.75  2,048.25  2,009.50    2.03M   -1.48%
3    Jan 06, 2015  1,994.50  2,019.00  2,023.50  1,984.25    2.35M   -1.07%
4    Jan 07, 2015  2,019.50  1,996.50  2,023.75  1,995.75    1.76M    1.25%
5    Jan 08, 2015  2,055.00  2,020.50  2,058.50  2,020.25    1.56M    1.76%
6    Jan 09, 2015  2,035.25  2,053.75  2,062.00  2,031.25    1.91M   -0.96%
7    Jan 12, 2015  2,022.50  2,034.50  2,048.25  2,015.25    1.62M   -0.63%
8    Jan 13, 2015  2,016.00  2,023.75  2,051.75  2,001.00    2.50M   -0.32%
9    Jan 14, 2015  2,007.50  2,017.25  2,019.50  1,981.25    2.52M   -0.42%
10   Jan 15, 2015  1,989.00  2,009.75  2,027.25  1,978.25    2.26M   -0.92%
11   Jan 16, 2015  2,013.00  1,980.75  2,014.25  1,970.25    2.02M    1.21%
12   Jan 18, 2015  2,010.65  2,013.65  2,013.65  2,008.55        -   -0.12%
13   Jan 19, 2015  2,009.95  2,010.45  2,023.65  2,003.15        -   -0.03%
14   Jan 20, 2015  2,016.75  2,013.50  2,026.50  1,997.50    1.81M    0.34%
15   Jan 21, 2015  2,026.50  2,015.75  2,032.75  2,005.25    1.64M    0.48%
16   Jan 22, 2015  2,056.50  2,026.75  2,059.25  2,019.25    1.83M    1.48%
17   Jan 23, 2015  2,044.00  2,056.50  2,062.50  2,042.25    1.35M   -0.61%
18   Jan 26, 2015  2,053.50  2,035.00  2,055.00  2,025.50    1.26M    0.46%
19   Jan 27, 2015  2,030.00  2,054.00  2,054.75  2,013.25    1.96M   -1.14%
20   Jan 28, 2015  1,991.50  2,036.50  2,046.50  1,991.25    2.09M   -1.90%
21   Jan 29, 2015  2,018.50  1,993.50  2,020.00  1,982.00    2.12M    1.36%
22   Jan 30, 2015  1,988.50  2,019.25  2,020.50  1,986.25    2.35M   -1.49%
23   Feb 02, 2015  2,017.00  1,990.50  2,018.50  1,973.75    2.04M    1.43%
24   Feb 03, 2015  2,042.00  2,015.00  2,044.00  2,007.00    1.71M    1.24%
25   Feb 04, 2015  2,030.00  2,040.50  2,049.25  2,022.75    1.70M   -0.59%
26   Feb 05, 2015  2,055.00  2,025.00  2,058.75  2,020.75    1.34M    1.23%
27   Feb 06, 2015  2,053.00  2,056.25  2,068.00  2,044.50  788.33K   -0.10%
28   Feb 09, 2015  2,042.50  2,050.00  2,051.75  2,036.50  878.10K   -0.51%
29   Feb 10, 2015  2,062.25  2,043.75  2,066.50  2,040.50    1.40M    0.97%
..            ...       ...       ...       ...       ...      ...      ...
102  May 21, 2015  2,128.00  2,120.75  2,132.00  2,115.00  794.48K    0.26%
103  May 22, 2015  2,124.50  2,129.25  2,131.00  2,122.75  765.94K   -0.16%
104  May 24, 2015  2,124.95  2,124.45  2,126.15  2,123.65        -    0.02%
105  May 25, 2015  2,122.45  2,125.15  2,126.95  2,118.65        -   -0.12%
106  May 26, 2015  2,105.00  2,124.50  2,127.00  2,096.00    1.59M   -0.82%
107  May 27, 2015  2,121.00  2,105.75  2,124.25  2,101.25    1.29M    0.76%
108  May 28, 2015  2,121.75  2,120.00  2,122.75  2,110.50    1.08M    0.04%
109  May 29, 2015  2,106.00  2,121.75  2,122.75  2,102.25    1.69M   -0.74%
110  Jun 01, 2015  2,109.25  2,107.00  2,117.75  2,100.25    1.34M    0.15%
111  Jun 02, 2015  2,106.75  2,111.00  2,116.00  2,094.00    1.44M   -0.12%
112  Jun 03, 2015  2,116.00  2,107.00  2,120.75  2,106.75    1.31M    0.44%
113  Jun 04, 2015  2,099.00  2,116.25  2,116.50  2,091.25    1.72M   -0.80%
114  Jun 05, 2015  2,092.25  2,098.75  2,102.75  2,083.50    1.46M   -0.32%
115  Jun 08, 2015  2,078.25  2,092.00  2,093.25  2,076.25    1.29M   -0.67%
116  Jun 09, 2015  2,080.00  2,080.00  2,084.75  2,068.75    1.45M    0.08%
117  Jun 10, 2015  2,107.00  2,080.75  2,108.00  2,080.00    1.67M    1.30%
118  Jun 11, 2015  2,109.25  2,106.00  2,114.75  2,103.25    1.48M    0.11%
119  Jun 12, 2015  2,093.00  2,109.00  2,109.25  2,090.25    1.13M   -0.77%
120  Jun 15, 2015  2,084.00  2,087.00  2,089.75  2,071.25    1.08M   -0.43%
121  Jun 16, 2015  2,097.50  2,083.50  2,098.25  2,070.50  795.76K    0.65%
122  Jun 17, 2015  2,097.50  2,097.75  2,107.00  2,087.00  550.65K    0.00%
123  Jun 18, 2015  2,123.00  2,097.25  2,127.50  2,090.50  430.53K    1.22%
124  Jun 19, 2015  2,117.11  2,123.25  2,126.50  2,118.25        -   -0.28%
125  Jun 22, 2015  2,112.75  2,105.75  2,122.00  2,103.50    1.10M   -0.21%
126  Jun 23, 2015  2,116.50  2,114.75  2,120.50  2,111.25  837.13K    0.18%
127  Jun 24, 2015  2,099.50  2,117.50  2,118.50  2,099.00    1.16M   -0.80%
128  Jun 25, 2015  2,094.00  2,101.25  2,112.75  2,092.00    1.22M   -0.26%
129  Jun 26, 2015  2,095.75  2,094.75  2,100.75  2,086.25    1.32M    0.08%
130  Jun 29, 2015  2,050.50  2,064.00  2,083.25  2,047.25    2.29M   -2.16%
131  Jun 30, 2015  2,054.50  2,054.50  2,069.00  2,046.75    2.38M    0.20%

[132 rows x 7 columns]

In [17]:
df = df.reindex(index=df.index[::-1])

In [18]:
df

           Date   Price    Open    High     Low Change %
4  Jan 01, 2015  313.85  317.51  317.51  312.88   -0.99%
3  Jan 02, 2015  315.11  313.60  316.01  313.00    0.40%
2  Jan 03, 2015  281.99  314.81  314.81  281.99  -10.51%
1  Jan 04, 2015  258.78  281.99  288.90  258.78   -8.23%
0  Jan 05, 2015  273.20  261.00  276.46  260.47    5.57%

In [19]:
df = df.set_index(df['Date'])

In [20]:
df

                      Date   Price    Open    High     Low Change %
Date
Jan 01, 2015  Jan 01, 2015  313.85  317.51  317.51  312.88   -0.99%
Jan 02, 2015  Jan 02, 2015  315.11  313.60  316.01  313.00    0.40%
Jan 03, 2015  Jan 03, 2015  281.99  314.81  314.81  281.99  -10.51%
Jan 04, 2015  Jan 04, 2015  258.78  281.99  288.90  258.78   -8.23%
Jan 05, 2015  Jan 05, 2015  273.20  261.00  276.46  260.47    5.57%

In [23]:
df

                      Date   Price    Open    High     Low Change %
Date
Jan 01, 2015  Jan 01, 2015  313.85  317.51  317.51  312.88   -0.99%
Jan 02, 2015  Jan 02, 2015  315.11  313.60  316.01  313.00    0.40%
Jan 03, 2015  Jan 03, 2015  281.99  314.81  314.81  281.99  -10.51%
Jan 04, 2015  Jan 04, 2015  258.78  281.99  288.90  258.78   -8.23%
Jan 05, 2015  Jan 05, 2015  273.20  261.00  276.46  260.47    5.57%

In [ ]:
df